<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="#">Mini-projet</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">

      <!--        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
      <ng-container *ngFor="let action of actions">
        <li class="nav-item active m-1">

          <a class="nav-item nav-link  " (click)="setActionCourante(action)"
             [style.color]="action==actionCourante?'white':''"
             routerLink="{{action.route}}"><span class="sr-only">
          {{action.titre}}</span>
          </a>
        </li>
      </ng-container>

    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet>
  </router-outlet>
</div>
