<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Fiche Produit </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form #produitForm="ngForm" (ngSubmit)="validerFormulaire(produitForm)" *ngIf="!!produitCourant">

        <div class="modal-body">
          <input id="id" name="id" type="hidden" [(ngModel)]="produitCourant.id"  />

          <div class="mb-3">
            <label for="produitCourantcode" class="form-label">Code</label>
            <input type="text" class="form-control" id="produitCourantcode" name="code"
                   [(ngModel)]="produitCourant.code" required>
          </div>

          <div class="mb-3">
            <label for="produitCourantdesignation" class="form-label">Désignation</label>
            <input type="text" class="form-control" id="produitCourantdesignation" name="designation"
                   [(ngModel)]="produitCourant.designation" required>
          </div>

          <div class="mb-3">
            <label for="produitCourantprix" class="form-label">Prix</label>
            <input type="text" class="form-control" id="produitCourantprix" name="prix"
                   [(ngModel)]="produitCourant.prix" required>
          </div>

          <div class="mb-3">
            <label for="produitCourantQte" class="form-label">Quantité</label>
            <input type="text" class="form-control" id="produitCourantQte" name="quantite"
                   [(ngModel)]="produitCourant.quantite" required>
          </div>

          <select class="form-select" aria-label="Default select example" name="categorie"
                  [(ngModel)]="produitCourant.categorie" required>
            <ng-container *ngFor="let categorie of categories">
              <option [value]="categorie.id" [selected]="categorie.id===produitCourant.categorie">{{categorie.libelle}}</option>
            </ng-container>
          </select>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="annulerSaisie()">Effacer
          </button>

          <button type="submit" class="btn btn-primary"  data-bs-dismiss="modal"  [disabled]="!produitForm.form.valid">Valider</button>
        </div>
      </form>

    </div>
  </div>
</div>

<div class="container">

  <div class="card mt-2">
    <h2 class="m-2">Liste des produits </h2>

    <div class="mb-3">
      <label for="searchInput" class="form-label">Rechercher:</label>
      <input type="text" class="form-control" id="searchInput" [(ngModel)]="searchTerm" (change)="onSearchChange()" />
    </div>


    <div class="card-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th> Id</th>
          <th>Code</th>
          <th>Quantité</th>
          <th>Designation</th>
          <th>Prix</th>
          <th>Categorie</th>
          <th colspan="2">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let p of produitsFiltres">
          <td> {{p.id}}</td>
          <td> {{p.code}}</td>
          <td> {{p.quantite}}</td>
          <td> {{p.designation}}</td>
          <td> {{p.prix}}</td>
          <td> {{p.categorie?.libelle}}</td>
          <td>
            <button (click)="editerProduit(p)" class="btn btn-dark" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
              <i class="bi bi-pen"></i>
              Modifier
            </button>
          </td>
          <td>
            <button (click)="supprimerProduit(p)" class="btn btn-danger">
              <i class="bi bi-trash"></i>
              Supprimer
            </button>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
